


h1 {
  font-family: Oswald, sans-serif;
}

body {
  background-color: ivory;
  font-family: Open+Sans, sans-serif;
  color: darkblue;
}

.container {
  margin: 10px 50px 10px 50px;
}
title {
  margin: 10px 50px 10px 50px;
}

img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
}

.navbar-collapse {
  background-color: black;
}
a.nav-link {
  color: white;
}
